@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #1a1a1a;
  --accent-background: #0e0e0e;
  --second-background: #191919;
  --shadow-second-background: rgba(25, 25, 25, 0.9);
  --shadow-background: rgba(26, 26, 26, 0.45);

  --main-font-color: #fff;
  --second-font-color: #0e0e0e;
  --opacity-font-1: rgba(255, 255, 255, 0.7);
  --opacity-font-2: rgba(255, 255, 255, 0.5);
  --opacity-font-3: rgba(255, 255, 255, 0.35);
  --opacity-font-4: rgba(255, 255, 255, 0.25);
  --opacity-font-5: rgba(255, 255, 255, 0.05);

  --accent-color: #ff0000;
  --error-color: rgba(255, 0, 0, 0.5);

  --main-element-color: #060606;
  --accent-element-color: #fff;

  --inner-shadow: inset 0px -200px 250px var(--main-background);
  --filter-shadow: drop-shadow(0px 25px 40px var(--accent-background));
}

html,
body {
  background: var(--main-background);
  color: var(--main-font-color);
  cursor: url("public/assets/icon/cursor.png"), auto;
  padding: 0;
  margin: 0;
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: calc(100vw - 20px);
  }

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
button:hover,
button:focus,
label:hover {
  cursor: url("public/assets/icon/cursor_hover.png"), auto;
}

* {
  box-sizing: border-box;
  border: 0;
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
main::-webkit-scrollbar-thumb,
main::-webkit-scrollbar {
  background-color: transparent;
}

.layout {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
