.forum__message_info {
  &_information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &_line {
    width: 1px;
    height: 16px;
    background-color: var(--opacity-font-2);
    margin-left: 10px;
    margin-right: 10px;
  }

  &_text {
    color: var(--opacity-font-2);
    line-height: 1.4;
  }

  &_text_answer {
    line-height: 1.4;
    margin-bottom: 50px;
  }
}
